{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/codingbooth.login.css" />
{% endblock %}
{% block body %}
    {% from "_formhelpers.html" import render_field %}
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.csrf_token }}
      <dl>
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
      </dl>
      <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
{% endblock %}
