{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/codingbooth.register.css" />
{% endblock %}
{% block body %}
    {% from "_formhelpers.html" import render_field %}
    <form class="form-register" method="post" action="/register">
      <h2 class="form-register-heading">User Registration</h2>
        {{ form.csrf_token }}
      <dl>
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
      </dl>
      <button class="btn btn-large btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
